<h1>Build a Playlist</h1>

<a href="/logout">Logout</a>  |
<a href="/about">About</a>  |
<a href="songs/new">Search for Artists!</a>
<div class="songs">
  {{#each songs}}
  <article class="songs">

    <a href="/songs/{{_id}}"><img src="{{url}}" alt="songs" /></a> <br>
    {{author}} <br>
    {{description}} <br>
    {{#if safe}}
      NSFW
      {{else}}
      Safe for work
      {{/if}}
    </article>
  {{/each}}
</div>
