<h1>A Gif!</h1>
<a href="/logout">Logout</a>
<a href="/gifs">Home Page</a>
<br>
<br>
<div>
  <img src="{{url}}" alt="gif" />
  <br>
  <p>{{author}}</p>
  <p>{{description}}</p>
  {{#if safe}}
    NSFW
    {{else}}
    Safe for work
  {{/if}}
</div>
<br>
<a href="/gifs/{{_id}}/edit">edit</a>
<br>
<br>
<form action="/gifs/{{_id}}/delete" method="post">
  <input type="submit" value="Delete">
</form>
